body {
	background-image: url(../img/groovepaper.png);
	background-color:#ffffff;
	background-repeat:repeat;
	color: #333;
	font-size: 11px;
	height: auto;
	padding: 20px 0;
	background-attachment:fixed;
	
}

a {
	color:#737475;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}
a:link {color:#737475;}      
a:visited {color:#737475}  

h1 {
	font-family: 'PT Sans Narrow', cursive;
	color: #000;
	font-size: 60px;
	text-align:left;
	font-weight:normal;
}

h2 {
	padding-top: 0px;
	text-align: center;
}

p {
	padding: 20px 0;
}


img.floatLeft {
    float: left;
    margin: 16px 20px 15px 0;
    float: left;
    height: 200px;
    padding: 4px;
    width: 160px;
	background-color:#D7D7D7;
	
}
.item p {
	color: #737475;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.5em;
    text-align: left;
	border-bottom: 1px dashed #e1e1e1;
	padding: 0 0 20px;
}

.item ul {
	color: #737475;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.5em;
    text-align: left;
	padding: 0 0 0 0;
}

.item_top blockquote {
    font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	color: #000000;
	background-image: url(../img/q-open.gif);
	background-position: left top;
	background-repeat: no-repeat;
	background-position: left 5px;
	font-style: italic;
	margin: 10px 0 0 25px;
    padding-left: 25px
}
.item_top blockquote span {
	background-image: url(../img/q-close.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
	display: block;
	padding-right: 10px;
}
.item_top {
    width: 600px;
}
.item_top p{
	color: #737475;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    text-align: left;
	padding: 10px 0 0 30px;
	
}


.item_tittle h1 {
	font-size: 24px;
	font-weight:normal;
	font-family: 'PT Sans Narrow', cursive;
	text-align: left;
	color: #000000;
	padding: 10px 0 0;
	text-transform: uppercase;
}
.item_tittle h1 span {
    background: none repeat scroll 0 0 #d7d7d7;
    border-radius: 3px 3px 3px 3px;
    color: #ffffff;
    float: right;
    font-family: 'PT Sans Narrow', cursive;
    font-size: 16px;
    font-weight: bold;
    margin: 7px 0 0;
    padding: 0 5px;
	margin-right: 0;
 
}
.item_tittle h2 {
	font-size: 18px;
	font-weight:normal;
	font-family: 'PT Sans Narrow', cursive;
	text-align: left;
	color:#898989;
	
}

.item_tittle h2 span {
    float: right;
	font-size: 14px;
 
}


.item_tittle h3{
	font-size: 14px;
	font-weight:normal;
	font-family: 'PT Sans Narrow', cursive;
	text-align: right;
	color:#000;
}


.container_12 {
	background-image: url(../img/12_col.gif);
}

.container_16 {
	background-image: url(../img/16_col.gif);
}

.container_24 {

	  /*groovepaper.png*/
}
.holder {

	overflow: hidden;
	padding: 10px 0;

}

/* ===HEADER===*/
.logo {
    background-color: #000000;
    height: 100px;
    -moz-border-radius:75px;
    -webkit-border-radius: 75px;
    width: 100px;
	float:left;
	margin: 10px 20px 0 0;
}
.logo  p{
    color:#ffffff;
	font-size:60px;
	font-weight:bold;
	padding: 20px;
    font-family: 'PT Sans Narrow',cursive;
    padding: 5px 0 0 28px;
}
	
#header{
	margin:auto;
	border-bottom: 5px solid #000000;
	height: 105px;
	}
	
#header h1 { 
    color: #000000;
    font-family: 'PT Sans Narrow',cursive;
    font-size: 65px;
    font-weight: bold;
	text-align:left;
}
#header h2{ 
    color: #737475;
    font-family: 'PT Sans',cursive;
    font-size: 18px;
	text-align:left;
	margin-top: -25px;
}
#header_bg{
	background-color:#ffffff;
	width:950px;
	height:200px;
	margin:auto;
}
.head_container{
	height: 320px;
    margin: 0 0 35px;
	background-repeat:repeat;	

}

.social_panel {
	float:right;
	padding: 0px 0px 0 0;
	margin: -89px 0 0 0;
}

.social_panel li {

	float: left;
    margin-left: 10px;
	list-style: none;

}
.social_panel ul {
	list-style: none;
}
.social_panel li.last{
	margin:0;
}
.main_panel {
    float: right;
    padding: 34px 60px 0 0;
	}
.main_panel a {color:#fff;}   
.main_panel a:link {color:#fff;}      
.main_panel a:visited {color:#fff}  
	
.main_panel li {

	float: left;
    margin-left: 10px;
	list-style: none;

}
.main_panel ul {
	list-style: none;
}
.main_panel li.last{
	margin:0;
	}
	
/* ===NAME AND TITTLE===*/	
#name_tittle {
	height: 200px;
	background-color:#021535;
}
#name_tittle h1{
	font-family: 'PT Sans Narrow', cursive;
	padding: 10px 0 0 20px;
	color: #ffffff;
	font-size: 80px;
	text-align:left;
	font-weight:bold;
}
#name_tittle ul{
	color: #74767A;
    font-family: 'PT Sans',sans-serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.0em;
    list-style-type: none;
    margin: -24px 0 0 -31px;
    text-align: left;
}
#name_tittle li{
	padding: 0px;
}
/* ===CONTACT LIST===*/	
.work_list{
	float: left;
	margin: 0 0 0 50px;
	text-align: right;
}
.work_list h1{
	font-family: 'PT Sans Narrow', cursive;
	font-size: 24px;
	color:#000000;
	margin: 0px 0 0 30px;
}
.work_list h2{
	font-family: 'PT Sans Narrow', cursive;
	font-size: 18px;
	color: #000000;
	margin: 0 0 0 30px; 
	text-align: left;
}
.work_list h3{
	font-family: 'PT Sans Narrow', cursive;
	font-size: 18px;
	color:#737475;
	margin: 0 0 0 30px; 
	text-align: left;
	border-bottom: 1px solid #737475;
	width: 270px;
}
.work_list ul{
	font-family: 'PT Sans Narrow', sans-serif;
	line-height:  1.5em;
	color: #74767a;
	font-size: 18px;
	text-align:left;
	list-style-type: none;
}

.horisontal {
    border-bottom: 1px solid #000000;
   
}
.work_list li{
	border-bottom: 1px dashed #767676;
	width: 270px;
}

.vertical_line{
	height: 480px;
	background-image: url("../img/vertical_line.png");
	background-repeat: repeat-y;
	margin: 43px 0 0;
}
.vertical_line2{
	height: 270px;
	background-image: url("../img/vertical_line.png");
	background-repeat: repeat-y;
}
.horisontal_line{

	height:40px;
	width: 870px;
	margin: auto;
	background-image: url("../img/horisontal_line.png");
	background-repeat: repeat-x;
}

/* ===RIBBON===*/	
.ribbon{
    color: #000000;
    font-size: 30px;
    width: 390px;
	font-family: 'PT Sans Narrow', cursive;
	font-weight:bold;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px dotted #1B579E;
	
}
.ribbon2{
    color: #000000;
    font-size: 30px;
    width: 390px;
	font-family: 'PT Sans Narrow', cursive;
	font-weight:bold;
	border-bottom: 1px solid #898989;
	padding:25px 0 0 0;
}

.ribbon_portfolio{
	margin:25px 0 0 0;
	border-bottom: 1px solid #CCCCCC;
    color: #000000;
    font-family: 'PT Sans Narrow',cursive;
    font-size: 30px;
    font-weight: bold;
    width: 865px;
}
/* ===YOUR PHOTO /AVATAR===*/	
#avatar{
    margin: 0 10px 0 0;
    float: left;
    height: 160px;
    width: 150px;
	background-color:#fff;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 6px 6px -5px #727274;
}
#skill_list2{
    float: left;
    margin: -5px 0 0 -30px;
}
.year{
    height:100px;
    font-family: 'PT Sans Narrow', cursive;
    font-size:22px;
    color:#737475;
    padding:  0 0 0 10px;
}
/* ===SKILL SET===*/
#skill_list ul{
    list-style-type: none;
    text-align:right;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
    line-height: 1.74em;
}
#skill_list2 ul{
    list-style-type: none;
    text-align:left;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 18px;
    line-height: 1.5em;
	font-weight: bold;
}
#skill_set {
    margin: 0;
}
#skill_set ul{
    list-style-type: none;
}
#technical_skill{
	margin: 15px 0 0;
}
.progress_container{
	padding:1px;
	height:15px;
	overflow:hidden;
	background-color:#d7d7d7;
	margin: 0 0 10px 90px;
	width: 270px;
}
	
.progress_bar{
	height:22px;
	width:0px;
	background-color:#898989;
}
.photoshop{
	height:22px;
	width:0px;
	background-color:#898989;
}
.ilustrator{
	height:22px;
	width:0px;
	background-color:#898989;
}
.dreamweaver{
	height:22px;
	width:0px;
	background-color:#898989;
}
.flash{
	height:22px;
	width:0px;
	background-color:#898989;
}
.html{
	height:22px;
	width:0px;
	background-color:#898989;
}
.css{
	height:22px;
	width:0px;
	background-color:#898989;
	}
.java{
	height:22px;
	width:0px;
	background-color:#898989;
}
.php{
	height:22px;
	width:0px;
	background-color:#898989;
}
/* ===jQuery lightBox plugin - Gallery style ===*/	

#gallery {
	padding: 35px 12px;
	width: 930px;
}
#gallery2 {
	width: 100%;
	padding: 33px 0 10px;
}
#gallery img{ padding:4px;}
#gallery ul { list-style: none; }
#gallery ul li { display: inline; }
#gallery ul img {
	border: 1px solid #CFD0CB;
	background-color:#fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0 6px 6px -5px #727274;
}
#gallery ul a:hover img {
	border: 1px solid #CFD0CB;
}
#gallery ul a:hover { color: #fff; }
	


/* === CONTACT FORM  ===*/	

#page-wrap {
	width: 660px;
	background: white;
	padding: 20px 50px 20px 50px;
	margin: 20px auto;
	min-height: 500px;
	height: auto !important;
	height: 500px;
}

#contact-area {
	width: 429px;
	margin: 15px 0 0;
	font-family: 'PT Sans Narrow', sans-serif;
    color: #74767a;
    font-size: 12px;
    font-weight:bold;
}

#contact-area input, #contact-area textarea {
	padding: 5px;
	width: 310px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0px 0px 10px 0px;
	border: 1px solid #ccc;
}

#contact-area textarea {
	height: 70px;
}

#contact-area textarea:focus, #contact-area input:focus {
	border: 1px solid #022E63;
}

#contact-area input.submit-button {
	width: 100px;
	float: right;
	margin: 0 36px 0 0;
	background-color: #000000;
	color:#FFFFFF;
	font-family: 'PT Sans Narrow',sans-serif;
    font-size: 18px;
	font-weight:bold;
}

label {
    float: left;
    font-size: 1.4em;
    padding-top: 0;
    text-align: left;
    width: 70px;
}

/* ===WHY ME  ===*/	
.why_me h1{
    color: #022E63;
    font-family: 'PT Sans Narrow',cursive;
    font-size: 24px;
    margin: 0 0 0 18px;
    text-align: left;
    width: 372px;
	font-weight:bold;
	}
.why_me ul{
    color: #737475;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.5em;
    margin: 15px 0 0 -15px;
    text-align: left;
    width: 402px;;
	}


/* ===DOWN TOP - GALLERY STYLE  ===*/		
.nav_up{
	padding:7px;
	border:1px solid #CCC;
	position:fixed;
	background:url("../img/images/arrow_up.png") no-repeat scroll 50% 50% #CCCCCC;
	width:20px;
	height:20px;
	bottom:10px;
	opacity:0.7;
	right:30px;
	white-space:nowrap;
	cursor: pointer;
	-moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
    -khtml-border-top-left-radius:3px;
	-khtml-border-top-right-radius:3px;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
.nav_down{
	padding:7px;
	background-color:white;
	border:1px solid #CCC;
	position:fixed;
	background:url("../img/images/arrow_down.png") no-repeat scroll 50% 50% #CCCCCC;
	width:20px;
	height:20px;
	bottom:10px;
	opacity:0.7;
	right:70px;
	white-space:nowrap;
	cursor: pointer;
	-moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
    -khtml-border-top-left-radius:3px;
	-khtml-border-top-right-radius:3px;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}

/* TipTip CSS - Version 1.2 */

#tiptip_holder {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
}

#tiptip_holder.tip_top {
	padding-bottom: 5px;
}

#tiptip_holder.tip_bottom {
	padding-top: 5px;
}

#tiptip_holder.tip_right {
	padding-left: 5px;
}

#tiptip_holder.tip_left {
	padding-right: 5px;
}

#tiptip_content {
     font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #fff;
	padding: 4px 8px;
	border: 1px solid rgba(255,255,255,0.25);
	background-color: rgb(25,25,25);
	background-color: rgba(25,25,25,0.92);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#000));
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;

}

#tiptip_arrow, #tiptip_arrow_inner {
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 6px;
	height: 0;
	width: 0;
}

#tiptip_holder.tip_top #tiptip_arrow {
	border-top-color: #fff;
	border-top-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_bottom #tiptip_arrow {
	border-bottom-color: #fff;
	border-bottom-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_right #tiptip_arrow {
	border-right-color: #fff;
	border-right-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_left #tiptip_arrow {
	border-left-color: #fff;
	border-left-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
	margin-top: -7px;
	margin-left: -6px;
	border-top-color: rgb(25,25,25);
	border-top-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	margin-top: -5px;
	margin-left: -6px;
	border-bottom-color: rgb(25,25,25);
	border-bottom-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -5px;
	border-right-color: rgb(25,25,25);
	border-right-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -7px;
	border-left-color: rgb(25,25,25);
	border-left-color: rgba(25,25,25,0.92);
}

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {	
	#tiptip_content {
		padding: 4px 8px 5px 8px;
		background-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_bottom #tiptip_arrow_inner { 
		border-bottom-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_top #tiptip_arrow_inner { 
		border-top-color: rgba(20,20,20,0.92);
	}
}

	
.misc_left {
    font-size: 32px;
	float: left;
	width: 50%;
	line-height: 20px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

.misc_right {
    font-size: 16px;
	float: right;
	width: 50%;
	line-height: 20px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}	

.misc_title {
	font-size: 20px;
	padding: 10px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}	
	
	
.misc_right ul{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 18px;

}                                                                                                     

.misc_left ul{
     font-family: 'PT Sans Narrow', sans-serif;
    font-size: 18px;
    line-height: 1.5em;

}

.quote {
  display: inline;
  float: right;
  margin-left: 5px;
  margin-right: 0px;
    font-size: 10px;
	color: #737475;
    font-family: Arial, Helvetica, sans-serif;
text-align:right;
padding: 0px 100px 0px 0px;
}
